.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid;
    width: 100%;
    height: 150px;
    padding: 10px;
    box-sizing: border-box;
}

.header h1 {
    position: absolute;
    bottom: 0;
    font-family: 'Italiana', serif;
    letter-spacing: 3px;
    font-size: xx-large;
    font-weight: 900;
}

.registerbutton {
    background-color: aquamarine;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}

.loginbutton {
    background-color: coral;
    padding: 10px;
    font-family: 'Dosis', sans-serif;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
